/*
#a0dfdf light blue

#eec824 dark yellow
#f2dc99 light yellow

#6a961f dark green
#92b473 light green

--



*/
.body { padding-top: 70px; }
/* Top navbar */

/* Style the links inside the navigation bar */

.empty {
  position: relative; 
  top: -60px;
}

.topnav{
  
  z-index: 9999;
    
  background-color: white;
  top: 0px;
  width: 100%;
  position: fixed;
  
}

.topnav nav {
  display: flex;
  justify-content: center;
  
}

.topnav a {
  float: center;
  text-align: left;
  color: #6a961f ;
  padding: 1.5rem 2rem;  
  font-size: 2rem;  
  /* font-weight: 700; */
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #eec824;
  color:  #095256;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:#eec824;
  color:  #6a961f;
}

.dropbtn {
  background-color:white;
  color: #6a961f;
  padding:1.5rem 2rem; 
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1.5rem 2rem; 
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

hr {
  background-color: #061934;
  height: 2px;
  
}

.header {

  align-items: center;
  background-color: #095256;
  background-size: cover;
  height: 100%;
  box-shadow:5px 5px 5px #999;
  padding-top: 3rem;
  
}

.header h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 9rem;
  font-weight: 700;
  margin: 40px;
  color: #FFD800;
  text-shadow: 3px 0, 0 4px #5AAA95, 0 0 #5AAA95, 0 3px;
}

.about {
  align-items: center;
  background-color: white;
  padding-bottom: 5rem;
  height: 100%;
  padding-top: 2rem;
  
}

.about img{
  border: solid;
  border-width: 3px;
  border-color: #095256;
  box-shadow:5px 5px 5px #999;
}

.about h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  color: #095256;
  font-weight: 200;
}

.about h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 5rem;
  color: #094B4F;
  font-weight: bold;
  /*text-shadow: -1px 0, 0 2px #052628, 2px 0 #052628, 0 -1px;*/
 }


.container h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  color: black;
  font-weight: bold;
  
}

.container{
  padding-top: 4rem;
}


.container h4{
  font-family: 'Open Sans', sans-serif;
  font-weight: 350;
  font-size: 2rem;
  font-style: bold;
  color: black;
  
  
  
}

#uni h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: black;
  font-weight: bold;
  text-align:center;
   
}

.logo{
  width: 20%;
  float: right;
}

#uni h4{
  font-style: italic;
}


.container h5{
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: black ;
  font-weight: 500;

}


.container p {
  font-family: 'Open Sans', sans-serif; 
  font-size: 2rem;
  color: black;
  font-weight: 100;
}

.subsection {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  height: 100%;
}

.subsection p {
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: black ;
  font-weight: 200;
}

.subsection h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 5rem;
  font-weight: bold;
}

.subsection h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: black ;
  font-weight: 200;
  
}

.subsection h5{
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: black ;
  font-weight: 500;
  font-weight: bold;
  

}




#research-experience {
 background-color: #5AAA95; 
}

#research-experience h2 {
  color: #094B4F;
 }


#education {
 background-color: white;
}

#education h2 {
  color: #094B4F;
}



#uni {
  box-shadow:5px 5px 5px black; 
  background-color: white;
  border: solid;
  margin-bottom: 3rem;
}




#childrens-books {
  background-color: #FFD800;
}
 
#childrens-books h2 {
   color: #094B4F;
  }

  
#childrens-books h3 {
font-family: 'Open Sans', sans-serif;
color:  black;
font-weight: bold;
font-size: 3rem;
padding-bottom: 2rem;
padding-top: 3rem;
}

#childrens-books h4 {
font-family: 'Open Sans', sans-serif;
color:  black;
padding-bottom: 2rem;
padding-top: 2rem;
font-size: 2rem;
}


#microscopy {
  background-color: #A5D0C5;
  padding-bottom: 3rem;
}
 
#microscopy h2 {
   color: #094B4F;
  }
 

  #microscopyvideos {
    background-color: #A5D0C5;
    padding-bottom: 3rem;
  }
   
  #microscopyvideos h2 {
     color: #094B4F;
    }
   

#project {
 box-shadow:4px 4px 4px black; 
 background-color: white;
 border: solid;
 margin-bottom: 3rem;
 }

#arduino {
      background-color: #5AAA95;
    }
     
#arduino h2 {
       color: #094B4F;
      }

      
#arduino h3 {
  font-family: 'Open Sans', sans-serif;
  color:  black;
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
}

#arduino h4 {
  font-family: 'Open Sans', sans-serif;
  color:  black;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-size: 2rem;
}




.img_arduino{
  width: 50%;
  padding-bottom: 2rem;
  padding-top: 1rem;

}


.rows {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    position: relative
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }



  .img_wrap {
    position: relative;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .img_wrap:hover .image {
    opacity: 0.3;
  }
  
  .img_wrap:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
    font-family: 'Open Sans', sans-serif;
    
  } 


.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:10%;
    top:0;
    width:80%;
    height: 100%;
    position:absolute;
}

.video{
  padding-bottom: 3rem;
}